@tailwind base;
@tailwind components;
@tailwind utilities;

#drawer-nav::-webkit-scrollbar {
 width: 6px;
}

#drawer-nav::-webkit-scrollbar-thumb {
 @apply bg-secondary;
 border-radius: 6px;
}

#drawer-nav::-webkit-scrollbar-thumb:hover {
 @apply bg-gray-600;
}

#drawer-nav::-webkit-scrollbar-track {
 @apply bg-body;
 border-radius: 6px;
}

#carousel::-webkit-scrollbar, #slide-img::-webkit-scrollbar {
 height: 8px;
}

#carousel::-webkit-scrollbar-thumb, #slide-img::-webkit-scrollbar-thumb {
 opacity: 0;
}

#carousel::-webkit-scrollbar-track, #slide-img::-webkit-scrollbar-track {
 opacity: 0;
}

@media (hover: hover) {
 #carousel-item:hover {
  @apply bg-gray-400;
}

.carousel-bts:hover {
  @apply bg-secondary text-body;
}
}